<div class="profile-container">
  
    <!-- EXAMPLE TOP NAV -->
    <LINK REL=StyleSheet HREF="chat.component.css" TYPE="text/css"/>
    <div class="topnav">
      <div class="logo">
        Solid</div>
  
      <div class="profile-menu" (click)="goBack()">
        <img src="assets/images/volver-menu.jpg" />
      </div>
    </div>
    <h1>Settings</h1>
    <nav class="menu-main">
      <a href="#">Personalización</a>
      <a href="#">Administrador</a>
      <a href="#">Comentarios</a>
      <a href="#">Perfíl</a>
      <a href="#">Ayuda</a>
    </nav>
    <a><img src="assets/images/settings-image.png"></a>
</div>