<div class="profile-container">
  <!-- EXAMPLE TOP NAV -->
  <div class="topnav">
    <div class="logo">Solid</div>
    
    <div class="menu-item">
      <div class = "chat" (click)="goToChat()">
        <img src="assets/images/chat.jpg"> 
        <p>Decentralized Chat</p>
      </div> 
    </div>
    
    <div class="menu-item">
      <div class = "settings" (click)="goToSettings()">
        <i class="fas fa-sliders-h"></i>
      </div>
      Settings
    </div>
   
    <div class="menu-item">
      <div class = "information" (click)="goToInfo()">
        <i class="fas fa-info-circle"></i>
      </div>
      Information
    </div>

    <div class="profile-menu" (click)="logout()">
      <img src="assets/images/logout-sign.png" />
    </div>
  </div>

  <!-- LOADING IMAGE -->
  <div class="loading-image" *ngIf="loadingProfile">
    <i class="fas fa-circle-notch fa-4x fa-spin"></i>
  </div>

  <!-- MAIN PROFILE -->

  <!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->

  
     
  <h1>DeChat EN3A</h1>
  <div style="text-align: center"><img src="assets/images/wallpaper.png"/></div>
</div>
