<div class="profile-container">
  <!-- EXAMPLE TOP NAV -->
  <div class="topnav">
    <div class="logo">Solid</div>
    
    <div class="menu-item">
      <div class = "chat" (click)="goToChat()">
        <img src="assets/images/chat.jpg"> 
        <p>Decentralized Chat</p>
      </div> 
    </div>
    
    <div class="menu-item">
      <div class = "settings" (click)="goToSettings()">
        <i class="fas fa-sliders-h"></i>
      </div>
      Settings
    </div>
   
    <div class="menu-item">
      <div class = "information" (click)="goToInfo()">
        <i class="fas fa-info-circle"></i>
      </div>
      Information
    </div>

    <div class="profile-menu" (click)="logout()">
      <img src="assets/images/logout-sign.png" />
    </div>
    <div class="custom-select" style="width:300px;">
      <select>
        <option id="1" value="1">pablomrtnez</option>
        <option id="2" value="2">ruizber</option>
        <option id="3" value="3">alvaro</option>
        <option id="4" value="4">dani</option>
        <option id="5" value="5">vladi</option>
      </select>

    
  </div>

  <!-- LOADING IMAGE -->
  <div class="loading-image" *ngIf="loadingProfile">
    <i class="fas fa-circle-notch fa-4x fa-spin"></i>
  </div>

  <!-- MAIN PROFILE -->

  <!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->

  


  <h1>DeChat EN3A </h1>
  <div style="text-align: center"><img src="assets/images/wallpaper.png" width="1250" height="800"/></div>
  <div style="text-align: center"><img src="assets/images/logouni.jpg" width ="125" height="100" /></div>
</div>
