<div class="profile-container">
  
    <!-- EXAMPLE TOP NAV -->
    <LINK REL=StyleSheet HREF="chat.component.css" TYPE="text/css"/>
    <div class="topnav">
      <div class="logo" (click)="goBack()">Solid</div>
        <div class="menu-item">
            <div class = "chat" (click)="goToChat()">
                <img src="assets/images/chat.jpg">
                <p>Decentralized Chat</p>
            </div>
        </div>
        <div class="menu-item">
            <div class = "settings" (click)="goToSettings()">
                <i class="fas fa-sliders-h"></i>
            </div>
            Settings
        </div>
        <div class="menu-item">
            <div class = "information" (click)="goToInfo()">
                <i class="fas fa-info-circle"></i>
            </div>
            Information
        </div>
  
      <div class="profile-menu" (click)="goBack()">
        <img src="assets/images/volver-menu.jpg" />
      </div>
    </div>
    <h1>Settings</h1>
    <nav class="menu-main">
      <a href="#">Personalization</a>
      <a href="#">Administrator</a>
      <a class="comments" (click)="goToComments()">Comments</a>
      <a class="profile" (click)="goToProfile()">Profile</a>
      <a href="#">Help</a>
    </nav>
    <a><img src="assets/images/settings-image.png"></a>
</div>